<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
      integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Dongle:wght@700&display=swap"
      rel="stylesheet"
    />
  </head>
  <link rel="stylesheet" href="../static/style.css" />
  <body>
    <div class="text-container">
      <header>
        <h2 class="logo">
          <iframe
            src="../static/logo.svg"
            frameborder="0"
            scrolling="no"
          ></iframe>
        </h2>
      </header>
      <a href="https://github.com/ntl-y" class="github-link" target="_blank">
        <i class="fab fa-github"></i> GitHub
      </a>
      <div class="music-container">
        <div class="music-info">
          <h4 id="track-name">Track Name</h4>
          <h4 id="artist-name">Artist Name</h4>

          <div class="progress-container">
            <div class="progress"></div>
          </div>
        </div>
        <div class="album-image-container">
          <img id="album-image" src="" alt="Album cover" />
        </div>

        <audio id="audio-player"></audio>

        <div class="navigation-container">
          <div class="navigation">
            <button id="prev" class="action-btn prev">
              <i class="fas fa-backward"></i>
            </button>

            <button id="play" class="action-btn action-btn-big">
              <i class="fas fa-play"></i>
            </button>

            <button id="next" class="action-btn next">
              <i class="fas fa-forward"></i>
            </button>
          </div>

          <div class="sound-bar-container">
            <div class="sound-bar"></div>
          </div>
        </div>
      </div>
      <h1 style="font-size: medium; width: 60vw">
        Hidden Tunes is a music player that features tracks with fewer than 100
        plays. Most of the music here has yet to be discovered by listeners,
        offering a unique opportunity to explore and enjoy songs that are hidden
        gems. It’s a platform for uncovering fresh, unheard music from
        independent artists, giving users a chance to experience something new
        before it gains popularity.
      </h1>
    </div>

    <div class="gradient-bg">
      <svg xmlns="http://www.w3.org/2000/svg">
        <defs>
          <filter id="goo">
            <feGaussianBlur
              in="SourceGraphic"
              stdDeviation="10"
              result="blur"
            />
            <feColorMatrix
              in="blur"
              mode="matrix"
              values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 18 -8"
              result="goo"
            />
            <feBlend in="SourceGraphic" in2="goo" />
          </filter>
        </defs>
      </svg>
      <div class="gradients-container">
        <div class="g1"></div>
        <div class="g2"></div>
        <div class="g3"></div>
        <div class="g4"></div>
        <div class="g5"></div>
        <div class="interactive"></div>
      </div>
    </div>
  </body>
  <script src="../static/script.js"></script>
</html>
